@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

.contact-content {
  align-items: center;
}

.contact-header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-align: center;

  color: #62646e;
}

.contact-info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  text-align: center;

  color: #171c2e;
  margin-bottom: 80px;
}

.contact-form {
  width: 50%;
}

.send-button {
  font-family: "Montserrat" !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  background-color: #980b2d !important;
  padding: 22px 0 !important;
  border-width: 0 !important;
  border-radius: 40px !important;
  width: 300px !important;
  height: 70px !important;
}

.button-stack {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: flex-end;
}

.form-textbox {
  /* border: 2px solid #980B2D !important; */
  /* background: #EFF1F7 !important; */
  border-radius: 10px !important;
  font-family: "Montserrat" !important;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 24px !important;
  line-height: 29px !important;

  color: #1a3d26 !important;
  height: 68px !important;
}

.message-textbox {
  height: 300px !important;
  resize: none;
  vertical-align: text-top !important;
}

.mailer-textbox {
}

.contact-shape {
  z-index: -1 !important;
  margin-top: 200px !important;
  margin-right: 750px !important;
}

.shape-div {
  position: absolute;
}

.form-shape {
  z-index: -1 !important;
  margin-top: -50px;
  margin-left: 500px;
}
