/* .portfolio-carousel-indicators {
    z-index: 0 !important;
    margin-right: 0% !important;
    margin-bottom: 0rem !important;
    margin-left: 0% !important;
    position: relative !important;
    margin-top: 50px !important;
}

.portfolio-carousel-indicators li {
    width: 250px !important;
    height: 200px !important;
}

.portfolio-carousel-control-prev {
    margin-top: 220px !important;
    display: flex !important;
}

.portfolio-carousel-control-next {
    margin-top: 220px !important;
    display: flex !important;
}

.carousel-control-prev-icon {
    background-image: url("./left-arrow.png") !important;
    width: 80px !important;
    height: 80px !important;
}

.carousel-control-next-icon {
    background-image: url("./right-arrow.png") !important;
    width: 80px !important;
    height: 80px !important;
} */

.gallery-image {
    width: 100%;
    display: block;
    border-radius: 5px;
    transition: transform 0.5s;
}

.gallery-image:hover {
    transform: scale(1.05);
}