@import "../../main.scss";

.title {
  text-align: center;
  color: $basic-text;
  font-family: $basic-font !important;
  font-weight: $l-weight !important;
  font-size: $xxxl;
  font-weight: $l-weight;
}
