@import url("https://fonts.googleapis.com/css?family=Montserrat");

.navigation-bar {
  background-color: #010000 !important;
  position: fixed !important;
  width: 100% !important;
  box-shadow: 0px 2px 10px #9a9a9cf8;
}

.navigation-bar-brand {
  margin-left: 35px;
  margin-right: 0px !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-light .navbar-toggler-icon {
  height: 3em;
  width: 3em;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-link {
  color: #e8e5de !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  white-space: nowrap !important;
  font-family: "Montserrat" !important;
}

.nav-link-is-active {
  font-weight: 600 !important;
}

.page-links {
  flex-grow: 1;
  justify-content: space-evenly;
  margin-left: 18px;
}

.social-links {
  justify-content: end;
  margin-right: 15px !important;
}

.social-link {
  margin-right: 30px;
  margin-left: 0px !important;
  height: 36px;
  width: 36px;
}

.facebook {
  background: url("./images/facebook-logo-link.svg") no-repeat !important;
}

.facebook:hover {
  background: url("./images/facebook-logo-link-hover.svg") no-repeat !important;
}

.instagram {
  background: url("./images/instagram-logo-link.svg") no-repeat !important;
}

.instagram:hover {
  background: url("./images/instagram-logo-link-hover.svg") no-repeat !important;
}

.behance {
  background: url("./images/behance-logo-link.svg") no-repeat !important;
}

.behance:hover {
  background: url("./images/behance-logo-link-hover.svg") no-repeat !important;
}
