@import "../main.scss";

.navigation-bar {
  background-color: $app-background !important;
  position: fixed !important;
  width: 100% !important;
  border-bottom-style: solid;
  border-color: $separator;
  border-width: 2px;
  z-index: 100;

  // Button for drop-down navigation menu for small screens
  .navbar-toggler {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 54px !important;
    margin-right: 25px;

    .navbar-toggler-icon {
      height: 3em;
      width: 3em;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }
  }

  .logo {
    height: 50px;
  }

  .margin-column {
    margin-left: -50px;
  }

  .navigation-bar-brand {
    margin-left: 25px;
    margin-right: 0px !important;
    max-width: 340px;

    p {
      color: $basic-text !important;
      white-space: nowrap !important;
      font-family: $basic-font !important;
      font-size: $xs !important;
    }

    @media (min-width: 0px) {
      .name-container {
        visibility: collapse;
        width: 0px;
      }
    }

    @media (min-width: 450px) {
      .name-container {
        visibility: visible;
        width: auto;
      }
    }

    .name {
      font-weight: $l-weight !important;
      margin: 0px !important;
    }

    .profession {
      font-weight: $m-weight !important;
      margin: 0px !important;
    }
  }

  .page-links {
    justify-content: space-evenly;

    .nav-link {
      color: $basic-text !important;
      font-weight: $m-weight !important;
      font-size: $s !important;
      white-space: nowrap !important;
      font-family: $basic-font !important;
    }

    .nav-link-is-active {
      font-weight: $l-weight !important;
    }
  }

  .social-links {
    .social-link {
      margin-right: 30px;
      margin-left: 0px !important;
      height: 36px;
      width: 36px;
    }

    .linkedin {
      background: url("./images/linkeding-logo-link.svg") no-repeat !important;
    }

    .linkedin:hover {
      background: url("./images/linkeding-logo-link-hover.svg") no-repeat !important;
    }

    .instagram {
      background: url("./images/instagram-logo-link.svg") no-repeat !important;
    }

    .instagram:hover {
      background: url("./images/instagram-logo-link-hover.svg") no-repeat !important;
    }

    .behance {
      background: url("./images/behance-logo-link.svg") no-repeat !important;
    }

    .behance:hover {
      background: url("./images/behance-logo-link-hover.svg") no-repeat !important;
    }
  }
}

.hash-link {
  text-decoration: none;
  color: $basic-text !important;
  font-weight: $m-weight !important;
  font-size: $s !important;
  white-space: nowrap !important;
  font-family: $basic-font !important;
}
