.video-container {
  margin-top: 120px !important;
  height: 763px !important;
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.video-container .box {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3693),
    rgba(0, 0, 0, 0.562),
    rgba(0, 0, 0, 0.86),
    rgba(0, 0, 0, 1)
  );
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .logo-box {
  z-index: 2;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.big-logo {
  width: 700px;
}

.caption-box {
  z-index: 3;
  position: relative;
  text-align: center;
  height: 100% !important;
  display: grid !important;
  margin-top: 180px;
  margin-left: 10px;
}

.hello-text {
  color: var(--text-color);
  font-size: 144px;
  font-weight: var(--m-weight);
  font-family: "DM Serif Display" !important;
  margin: 0px !important;
}

.welcome-text {
  color: var(--text-color);
  font-size: var(--xxl);
  font-weight: var(--m-weight);
  font-family: "Montserrat" !important;
}

.buttons-container {
  justify-content: center;
  background-color: transparent !important;
}

.button-column {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  font-family: "Montserrat" !important;
  font-size: var(--s) !important;
  font-weight: var(--xl-weight) !important;
  width: 252px !important;
  height: 65px;
  margin-top: 30px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.download-button {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  border-width: 0.5px !important;
}

.download-button:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  color: var(--text-color) !important;
}

.portfolio-button:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px) !important;
  color: var(--text-color) !important;
  border-width: 2px !important;
}
