@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$primary-font: "Open Sans";
$basic-font: "Montserrat";
$alternate-font: "DM Serif Display";

$m-weight: 400;
$l-weight: 600;
$xl-weight: 700;

$xs: 16px;
$s: 18px;
$m: 20px;
$l: 24px;
$xl: 28px;
$xxl: 36px;
$xxxl: 55px;
