@import "../../main.scss";

/* Main tile with images that will enlarge on hover */

.portfolio-container {
  margin-top: 80px !important;
  background-image: url("./images/background.svg");
  background-position: center;
  background-size: cover;
  min-height: 980px;

  %base-row {
    margin-right: 40px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    margin-left: 40px;
  }

  .content-row {
    @extend %base-row;

    %base-column {
      max-width: 655px;
      margin-top: 50px;
    }

    .content-column {
      @extend %base-column;
      .portftolio-description {
        font-size: $m;
        font-weight: $m-weight !important;
        font-family: $primary-font !important;
        color: $basic-text;
        line-height: 33px;
        color: $greyed-out;
        margin-bottom: 40px;
      }
    }

    .logo-column {
      @extend %base-column;
      display: flex;
      justify-content: center;

      @media (min-width: 0px) {
        .big-logo {
          display: none;
        }
      }

      @media (min-width: 1200px) {
        .big-logo {
          display: inline;
          max-width: 320px;
        }
      }
    }
  }

  .tiles-row {
    @extend %base-row;
    padding-top: 50px !important;
    min-height: 280px;

    @media (min-width: 0px) {
      .tile-column {
        max-width: 655px;
      }
    }

    @media (min-width: 1200px) {
      .tile-column {
        max-width: 440px;
      }
    }

    @mixin basic-tile {
      background-color: rgba(137, 134, 134, 0.15);
      transition: height 0.5s, background-color 0.5s;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      backdrop-filter: blur(13.3px);
    }

    @media (min-width: 0px) {
      .tile {
        @include basic-tile;
        height: 82px;
      }

      .tile:hover {
        background-color: rgba(255, 231, 196, 0.2);
      }
    }

    @media (min-width: 1200px) {
      .tile {
        @include basic-tile;
        height: 200px;
      }
      .tile:hover {
        height: 265px;
        background-color: rgba(255, 231, 196, 0.2);
      }
    }

    .tile-link {
      text-decoration: none !important;
    }

    .tile:hover p {
      opacity: 1;
    }

    p {
      transition: opacity 0.5s;
      color: $basic-text;
      opacity: 0.5;
      margin-right: 10px;
      margin-left: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .category-title {
      font-size: $xxl;
      text-align: center;
      padding-top: 13px;
      font-weight: $l-weight !important;
      font-family: $basic-font !important;
    }

    @media (min-width: 0px) {
      .category-description {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      .category-description {
        font-size: $m;
        text-align: center;
        margin-top: 40px;
        font-weight: $m-weight !important;
        font-family: $primary-font !important;
        display: block;
      }
    }
  }
}
