@import "../../main.scss";

/* Main tile with images that will enlarge on hover */

.portfolio-container {
  margin-top: 80px !important;
  background-image: url("./images/background.svg");
  background-position: center;
  background-size: cover;
  min-height: 980px;

  %base-row {
    margin-right: 40px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    margin-left: 40px;
  }

  .content-row {
    @extend %base-row;

    .content-column {
      max-width: 655px;
      margin-top: 50px;
      .portftolio-description {
        font-size: $m;
        font-weight: $m-weight !important;
        font-family: $primary-font !important;
        color: $basic-text;
        line-height: 33px;
        color: $greyed-out;
        margin-bottom: 40px;
      }
    }

    .logo-column {
      display: flex;
      justify-content: center;

      @media (min-width: 0px) {
        .big-logo {
          display: none;
        }
      }

      @media (min-width: 1200px) {
        .big-logo {
          display: inline;
          max-width: 320px;
        }
      }
    }
  }

  .tiles-row {
    @extend %base-row;
    padding-top: 50px !important;
    min-height: 280px;

    @media (min-width: 0px) {
      .tile-column {
        max-width: 655px;
      }
    }

    @media (min-width: 1200px) {
      .tile-column {
        max-width: 440px;
      }
    }

    @mixin basic-tile {
      background-color: rgba(137, 134, 134, 0.15);
      transition: height 0.5s, background-color 0.5s;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      backdrop-filter: blur(13.3px);
    }

    @media (min-width: 0px) {
      .tile {
        @include basic-tile;
        height: 82px;
      }

      .tile:hover {
        background-color: rgba(255, 231, 196, 0.2);
      }
    }

    @media (min-width: 1200px) {
      .tile {
        @include basic-tile;
        height: 200px;
      }
      .tile:hover {
        height: 265px;
        background-color: rgba(255, 231, 196, 0.2);
      }
    }

    .tile-link {
      text-decoration: none !important;
    }

    .tile:hover p {
      opacity: 1;
    }

    P {
      transition: opacity 0.5s;
      color: $basic-text;
      opacity: 0.5;
      margin-right: 10px;
      margin-left: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .category-title {
      font-size: $xxl;
      text-align: center;
      padding-top: 13px;
      font-weight: $l-weight !important;
      font-family: $basic-font !important;
    }

    @media (min-width: 0px) {
      .category-description {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      .category-description {
        font-size: $m;
        text-align: center;
        margin-top: 40px;
        font-weight: $m-weight !important;
        font-family: $primary-font !important;
        display: block;
      }
    }
  }
}

.background-div {
  background-image: url("./images/background.svg");
  background-position: top;
  background-repeat: no-repeat;
  min-height: 980px;
}

.subject-container {
  margin-top: 90px !important;
  margin-bottom: 200px !important;
  max-width: 1390px !important;
  background-color: transparent;

  .breadcrumb {
    margin-left: 0px !important;
  }

  .breadcrumb-item a {
    color: $greyed-out !important;
    text-decoration: none;
  }

  .breadcrumb-item a:hover {
    color: $basic-text !important;
  }

  .breadcrumb-item::after {
    color: $greyed-out !important;
  }

  .breadcrumb-item::before {
    color: $greyed-out !important;
  }

  .breadcrumb-item.active {
    font-weight: 600 !important;
    color: $basic-text !important;
  }

  .breadcrumb-item.active::before {
    font-weight: 400 !important;
  }

  %base-row {
    margin-right: 40px !important;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    margin-left: 40px;
  }

  .content-row {
    @extend %base-row;

    .content-column {
      max-width: 655px;
      margin-top: 0px;
      .portftolio-description {
        font-size: $m;
        font-weight: $m-weight !important;
        font-family: $primary-font !important;
        color: $basic-text;
        line-height: 33px;
        color: $greyed-out;
        margin-bottom: 40px;
      }
    }

    .logo-column {
      display: flex;
      justify-content: center;

      @media (min-width: 0px) {
        .big-logo {
          display: none;
        }
      }

      @media (min-width: 1200px) {
        .big-logo {
          display: inline;
          max-width: 320px;
        }
      }
    }
  }

  .tiles-row {
    @extend %base-row;
    padding-top: 50px !important;
    min-height: 360px;
    border-bottom-style: solid;
    border-color: $separator;
    border-width: 2px;

    @media (min-width: 0px) {
      .tile-column {
        max-width: 655px;
      }
    }

    @media (min-width: 1200px) {
      .tile-column {
        max-width: 440px;
      }
    }

    @mixin basic-tile {
      background-color: rgba(137, 134, 134, 0.15);
      backdrop-filter: blur(13.3px);
      transition: height 0.5s, background-color 0.5s;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @media (min-width: 0px) {
      .tile {
        @include basic-tile;
        height: 82px;
      }

      .tile:hover {
        background-color: rgba(255, 231, 196, 0.2);
      }

      .tile.active-subject {
        background-color: rgba(255, 231, 196, 0.2);
      }
    }

    @media (min-width: 1200px) {
      .tile {
        @include basic-tile;
        height: 200px;
      }
      .tile:hover {
        height: 265px;
        background-color: rgba(255, 231, 196, 0.2);
      }

      .tile.active-subject {
        height: 265px !important;
      }
    }

    .tile-link {
      text-decoration: none !important;
    }

    .tile:hover p {
      opacity: 1;
    }

    .tile.active-subject p {
      opacity: 1;
    }

    P {
      transition: opacity 0.5s;
      color: $basic-text;
      opacity: 0.5;
      margin-right: 10px;
      margin-left: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .category-title {
      font-size: $xxl;
      text-align: center;
      padding-top: 13px;
      font-weight: $l-weight !important;
      font-family: $basic-font !important;
    }

    @media (min-width: 0px) {
      .category-description {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      .category-description {
        font-size: $m;
        text-align: center;
        margin-top: 40px;
        margin-left: 10px !important;
        font-weight: $m-weight !important;
        font-family: $primary-font !important;
        display: block;
      }
    }
  }
}

.project-card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px !important;
  border: 0px !important;
  height: 100% !important;
  transition: transform 0.5s;
  background-color: $app-background !important;
}

.project-card:hover {
  transform: scale(1.03) !important;
}

.card-header {
  border-bottom: 0px !important;
  margin-bottom: 10px !important;
  display: flex;
  align-items: center;
  align-self: center;
  height: 85px;
}

.card-body {
  background-color: $card-footer;
  margin-top: 10px;
  border-radius: 0px 0px 10px 10px !important;
  padding: 0px !important;
  padding-top: 10px !important;
  height: 85px;

  .project-title {
    font-family: $basic-font;
    color: $basic-text;
    font-weight: $xl-weight;
    opacity: 0.4 !important;
    font-size: $l;
    transition-duration: 0.5s;
    margin-bottom: 10px !important;
    padding-left: 20px;
    padding-right: 20px;
  }

  @mixin basic-descr {
    font-family: $basic-font;
    color: $basic-text !important;
    opacity: 0.4 !important;
    font-weight: $xl-weight;
    font-size: $xs;
    margin-top: -10px;
  }

  @media (min-width: 0px) {
    .project-descr {
      @include basic-descr;
      display: none;
    }
  }

  @media (min-width: 560px) {
    .project-descr {
      @include basic-descr;
      display: block;
    }
  }
}

.project-card:hover {
  .project-title {
    opacity: 1 !important;
  }

  .project-descr {
    opacity: 1 !important;
  }
}

@media (min-width: 0px) {
  .card-column {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    width: 300px !important;
  }

  .card-image {
    height: 158px;
  }

  .card-header-image {
    max-height: 50px;
  }
}

@media (min-width: 435px) {
  .card-header-image {
    max-height: 85px;
  }

  .card-column {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    width: 430px !important;
  }

  .card-image {
    height: 278px;
  }
}
